@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: 340 82% 52%;
    --color-2: 290 82% 52%;
    --color-3: 240 82% 52%;
    --color-4: 190 82% 52%;
    --color-5: 140 82% 52%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow {
  animation: rainbow 8s linear infinite;
}

@layer utilities {
  .size-full {
    width: 100%;
    height: 100%;
  }
} 